$fontSize: 28px;
$fontFamily: 'Source Sans Pro';
$fontStyle: normal;
$fontWeight: 600;
$color: #3F3F3F;
$background: #fffefb;
$borderRadius: 4px;
$width: 284px;
$height: 36px;
$boxShadow: 0px 2px 5px rgba(0, 0, 0, 0.1);